@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.dashboard {
    display: flex;
    height: 100vh;
    position: relative;
    font-family: 'Poppins', sans-serif;

    .side-one {
        width: 50%;
        background: #f0f0f0;
        padding: 5rem;
    }
    .side-two {
        width: 50%;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
    }
}
